#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  /* #customers tr:hover {background-color: #ddd;} */
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FF69B4;
    color: white;
    text-align: center;
  }

  .table-container{
    margin: 10px 140px;
  }
  .table-container h2{
    font-weight: 600;
  }
  ul li{
    display: flex;
    justify-content: space-between;
  }

  table th, table td {
    /* Other styles for th and td */
    text-align: center;
  }

  
  /* Other styles (assuming they don't affect responsiveness) */
  .table-container h2 {
    font-weight: 600;
    text-align: center;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
}

table th,
table td {
    text-align: center;
  }


    /* Responsive styles */
    @media only screen and (max-width: 768px) {
        .table-container{
            margin: 3px 10px;
        }
        .table-container h2{
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        ul li {
            display: flex;
            justify-content: space-around;
            font-size: 10.5px;
        }
        table th, table td {
            /* Other styles for th and td */
            text-align: center;
            font-size: 13px;
          }
    }